body {
    background-color: #000000cc;
}
#container{
    display: contents;
    height:100%;
    width: 75%;
    margin: auto;
}
#main{
    height: 500px;
    margin:auto;
}
#button-container{
    margin-top: 300px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    display:table;
}
#noise-button{
    top:50%;
    margin-bottom:40px
}
.text{
    width:450px;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    font-size:small;
    font-family:OCR A Std, monospace;
    color:#eaeaead9;
    text-align:justify;
}
#linkbox{
    width: 200px;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
