body {
    background-color: #000000cc;
}
#container{
    display:grid;
    background-color:#11121d; 
    height:100%;
    width: 75%;
    margin: auto;
}
#main{
    height: 500px;
    margin:auto;
}
#button-container{
    margin-top: 150px;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    display:table;
}
#noise-button{
    top:50%;
    margin-bottom:40px
}
.text{
    width:450px;
    margin-top:15px;
    font-size:small;
    font-family:OCR A Std, monospace;
    color:#eaeaead9;
    text-align:justify;
}
#linkbox{
    width: 200px;
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
}
